.brdr{
    height: 1px;
    background-color: #a8a8a83d;
    color: #24baef;

}

.rating{
    width: 50px !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -5px ;
    top: 0;
}


